<footer>
  <div class="footer">
    <p style="width: 100%">JES</p>
    <div class="centering-container">
      <a href="{{ site.baseurl }}/index.html">Home</a>
      <a href="{{ site.baseurl }}/leistung.html">Leistungen</a>
      <a href="{{ site.baseurl }}/team.html">Über uns</a>
      <a href="{{ site.baseurl }}/news.html">News</a>
      <a href="{{ site.baseurl }}/kontakt.html">Kontakt</a>
      <a href="{{ site.baseurl }}/impressum.html">Impressum</a>
      <a href="{{ site.baseurl }}/agb.html">AGB</a>
    </div>
    <hr class="invisible-hr" />
    <div class="centering-container">
      <div class="social-media-button">
        <a href="https://wa.me/+4916097531538" id="social-media-link2"
          ><img src="{{ site.baseurl }}/assets/images/whatsapp.svg" alt="Whatsapp Icon" class="social-media-button-image" width="30" height="30"
        /></a>
      </div>
      <div class="social-media-button">
        <a href="mailto:jes@jes-steuerrecht.de" id="social-media-link3"
          ><img src="{{ site.baseurl }}/assets/images/email.svg" alt="Email Icon" class="social-media-button-image" width="30" height="30"
        /></a>
      </div>
      <div class="social-media-button">
        <a href="https://www.instagram.com/jes.steuerrecht" id="social-media-link1"
          ><img src="{{ site.baseurl }}/assets/images/instagram.svg" alt="Instagram Icon" class="social-media-button-image" width="30" height="30"
        /></a>
      </div>
    </div>
  </div>
</footer>
