<footer>
  <div class="footer">
    <p style="width: 100%">JES</p>
    <div class="centering-container">
      <a href="/index.html">Home</a>
      <a href="/leistung.html">Leistungen</a>
      <a href="/team.html">Über uns</a>
      <a href="/news.html">News</a>
      <a href="/kontakt.html">Kontakt</a>
      <a href="/impressum.html">Impressum</a>
    </div>
    <hr class="invisible-hr" />
    <div class="centering-container">
      <div class="social-media-button">
        <a
          href="https://www.twitter.com/forsakenportals"
          id="social-media-link2"
          ><img
            src="/assets/images/whatsapp.svg"
            alt="Whatsapp Icon"
            class="social-media-button-image"
            width="30"
            height="30"
        /></a>
      </div>
      <div class="social-media-button">
        <a
          href="https://www.twitter.com/forsakenportals"
          id="social-media-link3"
          ><img
            src="/assets/images/email.svg"
            alt="Email Icon"
            class="social-media-button-image"
            width="30"
            height="30"
        /></a>
      </div>
      <div class="social-media-button">
        <a
          href="https://www.twitter.com/forsakenportals"
          id="social-media-link1"
          ><img
            src="/assets/images/instagram.svg"
            alt="Instagram Icon"
            class="social-media-button-image"
            width="30"
            height="30"
        /></a>
      </div>
    </div>
  </div>
</footer>
