<head>
  <title>{{ site.title }} - {{ page.title }}</title>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta
    name="description"
    content="JES bietet Dienstleistungen zur Prüfungsvorbereitung für angehende Steuerberater an."
  />

  <meta property="og:title" content="JES - Einfach Steuerrecht!" />
  <meta property="og:site_name" content="JES - Einfach Steuerrecht!" />
  <meta property="og:type" content="website" />
  <meta property="og:url" content="https://hangman.github.io/jespage/" />
  <meta
    property="og:image"
    content="https://hangman.github.io/jespage/assets/images/ogimage.png"
  />
  <meta property="og:image:width" content="1200" />
  <meta property="og:image:height" content="630" />
  <meta
    property="og:image:secure_url"
    content="https://hangman.github.io/jespage/assets/images/ogimage.png"
  />
  <meta property="og:image:width" content="1200" />
  <meta property="og:image:height" content="630" />
  <meta
    property="og:description"
    content="JES hilft dir deine Steuerberaterprüfung zu bestehen."
  />
  <meta property="og:image:alt" content="JES - og:image:alt" />

  <link rel="icon" href="{{ site.baseurl }}/assets/images/favicon.svg" />
  <link rel="stylesheet" href="{{ site.baseurl }}/assets/css/main.css" />
</head>
