<head>
  <title>{{ site.title }} - {{ page.title }}</title>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta name="description" content="JES bietet Dienstleistungen zur Prüfungsvorbereitung für angehende Steuerberater an." />
  <meta
    name="keywords"
    content="Steuerrecht, Steuerberaterprüfung, Steuerberaterexamen, Nachhilfe, JES, Online-Kurs, Online-Nachhilfe, Steuerberaterkurs, mündliche Steuerberaterprüfung, schriftliche Steuerberaterprüfung, Steuerberater, Einfach, Steuerrecht"
  />

  <meta name="google-site-verification" content="dfYihWSmULhSlcbBKpModnv-M2ld5e9TF_M2agUPH8c" />

  <meta property="og:title" content="JES - Einfach Steuerrecht!" />
  <meta property="og:site_name" content="JES - Einfach Steuerrecht!" />
  <meta property="og:type" content="website" />
  <meta property="og:url" content="https://www.jes-steuerrecht.de/" />
  <meta property="og:image" content="https://www.jes-steuerrecht.de/assets/images/ogimage.png" />
  <meta property="og:image:width" content="1200" />
  <meta property="og:image:height" content="630" />
  <meta property="og:image:secure_url" content="https://www.jes-steuerrecht.de/assets/images/ogimage.png" />
  <meta property="og:image:width" content="1200" />
  <meta property="og:image:height" content="630" />
  <meta property="og:description" content="JES hilft dir deine Steuerberaterprüfung zu bestehen." />
  <meta property="og:image:alt" content="JES - og:image:alt" />

  <link href="/feed.xml" type="application/atom+xml" rel="alternate" title="JES Feed" />

  <link rel="icon" href="{{ site.baseurl }}/assets/images/favicon.svg" />
  <link rel="stylesheet" href="{{ site.baseurl }}/assets/css/main.css?v=1.0" />
</head>
