<div id="mobilelogo-area">
  <p id="mobilelogo" onClick="location.href='index.html'">
    <a href="{{ site.baseurl }}/index.html"></a>
  </p>
</div>
<nav class="topnav">
  <p>
    <a href="{{ site.baseurl }}/leistung.html">Leistungen</a>
  </p>
  <p><a href="{{ site.baseurl }}/team.html">Über uns</a></p>
  <p id="navlogo" onClick="location.href='{{ site.baseurl }}/index.html'">
    <a href="{{ site.baseurl }}/index.html"></a>
  </p>
  <p><a href="{{ site.baseurl }}/news.html">News</a></p>
  <p><a href="{{ site.baseurl }}/kontakt.html">Kontakt</a></p>
</nav>
<div class="centered-container">
  <p class="slogan">Einfach Steuerrecht!</p>
</div>
