---
---

:root {
  --background-dark: #242424;
  --background-light: #1b1c22;
  --primary-color: #f9b249;
  --secondary-color: #03dac6;
  --error-color: #cf6679;
  --text-color: #ffffff;
  --block-color: #5c5e697e;
  --block-shadow-color: #00000083;
  --black: #000000;
  --gray: #8b8b8b;
  --social-media-button-color: #494949;
  --social-media-button-color-hover: #696969;
  --footer-background-color: #121212;
  --whatsapp-color-inverse: #da2c99;
  --instagram-color-inverse: #7cc54b;
  --email-color-inverse: #ff903b;
  --link-color: #58a6f0;
}

@font-face {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 300;
  src: url("{{ site.baseurl }}/assets/fonts/Poppins-Light.woff2") format("woff2");
}

@font-face {
  font-family: "Poppins";
  font-style: italic;
  font-weight: 300;
  src: url("{{ site.baseurl }}/assets/fonts/Poppins-LightItalic.woff2") format("woff2");
}

@font-face {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  src: url("{{ site.baseurl }}/assets/fonts/Poppins-Medium.woff2") format("woff2");
}

@font-face {
  font-family: "Poppins";
  font-style: italic;
  font-weight: 500;
  src: url("{{ site.baseurl }}/assets/fonts/Poppins-MediumItalic.woff2") format("woff2");
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  vertical-align: baseline;
  font-family: Poppins, sans-serif;
  font-style: normal;
  font-weight: 500;
  letter-spacing: 0;
  word-spacing: 1px;
  font-size: 18px;
  scroll-behavior: smooth;
}

h1 {
  color: var(--primary-color);
  font-size: 50px;
  text-align: center;
}

h2 {
  color: var(--primary-color);
  font-size: 30px;
  text-align: center;
}

html {
  background-color: var(--background-dark);
}

a,
p {
  color: var(--text-color);
}

summary {
  cursor: pointer;
  color: var(--primary-color);
}

#SchriftlichePruefung {
}

#MuendlichePrüfung {
}

.news-metadata {
  color: var(--gray);
  font-size: 14px;
  font-weight: 500;
}

.social-media-button {
  display: flex;
  justify-content: center;
  background-color: var(--social-media-button-color);
  border-radius: 50%;
  cursor: pointer;
  text-align: center;
  padding: 0px;
  line-height: 0px;
  transition: all 0.3s ease;
  margin-left: 10px;
  margin-right: 10px;
}

.social-media-button:hover {
  background-color: var(--social-media-button-color-hover);
}

.social-media-button-image {
  object-fit: contain;
  filter: invert(100%);
}

#social-media-link1 {
  display: block;
  padding: 8px;
  line-height: 0px;
  text-align: center;
}

#social-media-link2 {
  display: block;
  padding: 8px;
  line-height: 0px;
  text-align: center;
}

#social-media-link3 {
  display: block;
  padding: 8px;
  line-height: 0px;
  text-align: center;
}

.button {
  text-align: center;
  display: inline-block;
  background-color: var(--primary-color);
  border: 2px solid var(--primary-color);
  border-radius: 6px;
  cursor: pointer;
  color: var(--black);
  font-family: Poppins, sans-serif;
  font-style: normal;
  font-size: 19px;
  font-weight: 500;
  text-decoration: none;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
  transition: all 0.3s ease;
}

.button:hover {
  background-color: var(--background-dark);
  border: 2px solid var(--primary-color);
  color: var(--text-color);
}

.button:active {
  position: relative;
  top: 3px;
}

.centered-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
}

.footer {
  text-align: center;
  background-color: var(--footer-background-color);
  padding-top: 30px;
  padding-bottom: 30px;
  display: block;
}

.footer a {
  padding-left: 10px;
  padding-right: 10px;
}

.centering-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  text-align: center;
}

.root-background {
  background-color: var(--background-dark);
}

.content-background {
  background: url("{{ site.baseurl }}/assets/images/shape.svg") no-repeat;
  background-size: cover;
}

.content-background-mirrored {
  background: url("{{ site.baseurl }}/assets/images/shape2.svg") no-repeat;
  background-size: cover;
}

.content-background-solid {
  background-color: var(--background-light);
}

.content-background-gradient {
  background: linear-gradient(180deg, var(--background-light) 0%, var(--background-dark) 100%);
  background-size: cover;
}

.content-body {
  margin-left: 20%;
  margin-right: 20%;
  padding-top: 40px;
}

.content-body-news {
  margin-left: 25%;
  margin-right: 25%;
}

.topnav {
  padding-top: 20px;
  background-color: var(--background-dark);
  overflow: hidden;
  display: flex;
  justify-content: center;
  margin: 0 auto;
}

.topnav p {
  color: var(--text-color);
  text-align: center;
  padding-left: 26px;
  padding-right: 26px;
  text-decoration: none;
  min-width: 120px;
  max-width: 120px;
  line-height: 42px;
}

.topnav a {
  position: relative;
  text-align: center;
  text-decoration: none;
  color: var(--blue);
  font-size: 22px;
}

.topnav a::before {
  content: "";
  position: absolute;
  display: block;
  width: 100%;
  height: 4px;
  bottom: -5px;
  left: 0;
  background-color: var(--primary-color);
  transform: scaleX(0);
  transition: transform 0.2s ease;
}

.topnav a:hover::before {
  transform: scaleX(1);
}

.slogan {
  color: var(--primary-color);
  font-weight: 500;
  font-size: 14px;
  padding-top: 10px;
  padding-bottom: 10px;
}

#navlogo {
  width: 150px;
  height: 42px;
  background: url("{{ site.baseurl }}/assets/images/logo.svg") no-repeat;
  background-size: 150px 42px;
  background-position: center;
  cursor: pointer;
  min-width: 150px;
  max-width: 150px;
  margin-left: 20px;
  margin-right: 20px;
  text-align: center;
  transition: all 0.2s ease;
}

#navlogo:hover {
  background: url("{{ site.baseurl }}/assets/images/logo_hover.svg") no-repeat;
  background-size: 150px 42px;
  background-position: center;
}

#mobilelogo-area {
  display: none;
  background-color: var(--background-dark);
}

#mobilelogo {
  display: none;
}

.floating-text {
  padding-top: 0px;
  padding-bottom: 0px;
  font-size: 22px;
  font-weight: 300;
  text-align: center;
  margin-left: 15%;
  margin-right: 15%;
}

.headline-container {
  max-width: 80%;
  padding-top: 10px;
  padding-bottom: 0px;
}

.headline-small {
  text-align: center;
  font-size: 40px;
}

.headline-big {
  text-align: center;
  font-size: 40px;
  font-weight: 300;
}

.contact-icon {
  filter: invert(100%);
  margin-right: 10px;
  display: block;
  width: 40px;
  height: 40px;
  padding: 10px;
  border-radius: 10%;
}

.contact-icon-whatsapp {
  background-color: var(--whatsapp-color-inverse);
}

.contact-icon-instagram {
  background-color: var(--instagram-color-inverse);
}

.contact-icon-email {
  background-color: var(--email-color-inverse);
}

.block-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.big-block {
  width: 100%;
  border: 2px solid var(--block-color);
  border-radius: 25px;
  background-color: var(--block-color);
  padding-left: 65px;
  padding-right: 65px;
  padding-top: 50px;
  padding-bottom: 50px;
  box-shadow: 0px 0px 30px 10px var(--block-shadow-color);
  margin-left: 20px;
  margin-right: 20px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.block {
  max-width: 350px;
  border: 2px solid var(--block-color);
  border-radius: 25px;
  background-color: var(--block-color);
  padding-left: 40px;
  padding-right: 40px;
  padding-top: 30px;
  padding-bottom: 30px;
  box-shadow: 0px 0px 30px 10px var(--block-shadow-color);
  margin-left: 20px;
  margin-right: 20px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.block-clickable {
  cursor: pointer;
  max-width: 350px;
  border: 2px solid var(--block-color);
  border-radius: 25px;
  background-color: var(--block-color);
  padding-left: 40px;
  padding-right: 40px;
  padding-top: 30px;
  padding-bottom: 30px;
  box-shadow: 0px 0px 30px 10px var(--block-shadow-color);
  margin-left: 20px;
  margin-right: 20px;
  margin-top: 20px;
  margin-bottom: 20px;
  transition: border 0.3s ease;
}

.block-clickable:hover {
  border: 2px solid var(--primary-color);
}

.block-title {
  font-size: 28px;
  font-weight: 500;
  color: var(--primary-color);
  text-align: center;
}

.block-title-left {
  font-size: 28px;
  font-weight: 500;
  color: var(--primary-color);
  display: inline-block;
  text-align: left;
}

.block-title-text-separator {
  border: 2px solid var(--primary-color);
  border-radius: 10px;
}

.block-text {
  font-size: 18px;
  font-weight: 300;
  text-align: center;
}

.block-text-justify {
  font-size: 18px;
  font-weight: 300;
  text-align: justify;
}

.news-excerpt {
  font-size: 18px;
  font-weight: 300;
  text-align: left;
  text-decoration: none;
}

.team-checkmark {
  margin-left: 6px;
  margin-bottom: 4px;
  width: 20px;
  height: 20px;
}

.block-text-left p {
  font-size: 18px;
  font-weight: 300;
  text-align: left;
  color: var(--text-color);
}

.block-text-left hr {
  border: 1px solid var(--primary-color);
  border-radius: 10px;
}

.block-text-left a {
  font-size: 18px;
  font-weight: 300;
  text-align: left;
  text-decoration: none;
  color: var(--link-color);
}

.block-text-left a:hover {
  text-decoration: underline;
}

.block-text-left ul,
ol {
  margin-left: 20px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.block-text-left blockquote p {
  font-size: 18px;
  font-weight: 300;
  text-align: left;
  font-style: italic;
  color: var(--text-color);
  padding-left: 10px;
  border-left: 5px solid var(--primary-color);
}

.block-text-left code {
  font-size: 18px;
  font-weight: 500;
  text-align: left;
  background-color: var(--gray);
  padding-left: 4px;
  padding-right: 4px;
  color: var(--text-color);
}

.block-text-left li {
  font-size: 18px;
  font-weight: 300;
  text-align: left;
  color: var(--text-color);
}

.block-text-left h1 {
  margin-top: 25px;
  font-size: 30px;
  font-weight: 500;
  text-align: left;
  text-decoration: underline;
  color: var(--primary-color);
}

.block-text-left h2 {
  margin-top: 20px;
  font-size: 26px;
  font-weight: 500;
  text-align: left;
  color: var(--primary-color);
}

.block-text-left h3 {
  margin-top: 15px;
  font-size: 22px;
  font-weight: 500;
  text-align: left;
  color: var(--primary-color);
}

.team-image {
  width: 500px;
  height: 363px;
  border-radius: 25px;
  max-width: 80%;
  display: block;
  object-fit: scale-down;
  margin-bottom: 40px;
}

.in-block-left-image {
  width: 30%;
  max-width: 30%;
  height: auto;
  border-radius: 25px;
  display: block;
  object-fit: cover;
  margin-right: 5%;
}

.in-block-right-container {
  width: 65%;
  max-width: 65%;
}

.in-block-right-text {
  text-align: left;
  font-weight: 300;
}

.person-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.person {
  display: block;
  min-width: 250px;
  max-width: 250px;
  padding: 10px 10px 10px 10px;
}

.person p {
  text-align: center;
}

.person-image {
  border: 3px solid var(--primary-color);
  border-radius: 50%;
  max-width: 200px;
  max-height: auto;
}

.primary-color {
  color: var(--primary-color);
}

table.block-table {
  background-color: var(--background-dark);
  width: 100%;
  text-align: left;
  border-collapse: collapse;
}

table.block-table td,
table.block-table th {
  border: 0px solid;
  padding: 5px 10px;
}

table.block-table tbody td {
  font-size: 18px;
  font-weight: 300;
  color: var(--text-color);
}

table.block-table thead {
  background: var(--primary-color);
}

table.block-table thead th {
  font-size: 20px;
  font-weight: 500;
  text-align: left;
}

.invisible-hr {
  visibility: hidden;
}

.text-align-left {
  text-align: left;
}

.news-title {
  font-weight: 500;
  font-size: 30px;
  text-align: left;
  text-decoration: none;
  color: var(--primary-color);
}

@media screen and (max-width: 930px) {
  h1 {
    font-size: 30px;
  }
  h2 {
    font-size: 26px;
  }
  #mobilelogo-area {
    display: block;
    width: 100%;
    display: flex;
    justify-content: center;
  }
  #mobilelogo {
    display: block;
    width: 100px;
    height: 28px;
    background: url("{{ site.baseurl }}/assets/images/logo.svg") no-repeat;
    background-size: 100px 28px;
    background-position: center;
    cursor: pointer;
    margin-top: 4px;
  }
  #mobilelogo:hover {
    background: url("{{ site.baseurl }}/assets/images/logo_hover.svg") no-repeat;
    background-size: 100px 28px;
    background-position: center;
    margin-top: 4px;
  }
  .topnav {
    position: relative;
    display: block;
    padding-top: 10px;
  }
  .topnav p {
    float: none;
    display: block;
    line-height: normal;
    min-width: inherit;
    max-width: inherit;
    padding-top: 3px;
    padding-bottom: 3px;
  }
  .topnav a {
    font-size: 20px;
  }
  #navlogo {
    display: none;
  }
  .content-body {
    margin-left: 1%;
    margin-right: 1%;
  }
  .content-body-news {
    margin-left: 5%;
    margin-right: 5%;
  }
  .headline-container {
    padding-top: 20px;
    padding-bottom: 0px;
  }
  .headline-small {
    font-size: 20px;
  }
  .headline-big {
    font-size: 25px;
    line-height: 35px;
  }
  .block {
    width: 300px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
    padding-bottom: 10px;
  }
  .big-block {
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 15px;
    padding-bottom: 15px;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 10px;
    margin-bottom: 10px;
  }
  .block-title {
    font-size: 22px;
  }
  .block-text {
    font-size: 17px;
  }
  .block-text-justify {
    font-size: 17px;
    text-align: left;
  }
  .person-image {
    max-width: 100px;
  }
  .in-block-right-container {
    width: 100%;
    max-width: 100%;
  }
  .in-block-left-image {
    display: none;
  }
  .floating-text {
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 18px;
    font-weight: 300;
    text-align: center;
    margin-left: 10%;
    margin-right: 10%;
  }
  .contact-icon {
    width: 30px;
    height: 30px;
    padding: 10px;
  }
}
