:root {
    --background-dark: #242424;
    --background-light: #1b1c22;
    --primary-color: #f9b249;
    --secondary-color: #03DAC6;
    --error-color: #CF6679;
    --text-color: #ffffff;
    --block-color: #3e3f467e;
    --block-shadow-color: #00000083;
}

@font-face {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 200;
    src: url("../fonts/Poppins-ExtraLight.woff2") format("woff2")
}

@font-face {
    font-family: 'Poppins';
    font-style: italic;
    font-weight: 200;
    src: url("../fonts/Poppins-ExtraLightItalic.woff2") format("woff2")
}

@font-face {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    src: url("../fonts/Poppins-Medium.woff2") format("woff2")
}

@font-face {
    font-family: 'Poppins';
    font-style: italic;
    font-weight: 500;
    src: url("../fonts/Poppins-MediumItalic.woff2") format("woff2")
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font: inherit;
    vertical-align: baseline;
    font-family: Poppins, sans-serif;
    font-style: normal;
    font-weight: 500;
    letter-spacing: 0;
    word-spacing: 1px;
    font-size: 18px;
}

a,
p {
    color: var(--text-color);
}

footer {
    margin-top: 20px;
}

.footer {
    background-color: var(--background-light);
}

.root-background {
    background-color: var(--background-dark);
}

.content-background {
    background: url("../images/shape.svg") no-repeat;
    background-size: cover;
}

.content-body {
    /*     background: linear-gradient(143deg, var(--background-light) 68%, var(--secondary-color) 100%); */
    margin-left: 20%;
    margin-right: 20%;
}

.topnav {
    background-color: var(--background-dark);
    overflow: hidden;
    display: flex;
    justify-content: center;
    margin: 0 auto;
}

.topnav p {
    float: left;
    color: var(--text-color);
    text-align: center;
    padding: 16px 16px;
    text-decoration: none;
    line-height: 100px;
    margin-left: 10px;
    margin-right: 10px;
    min-width: 120px;
    max-width: 120px;
}

.topnav a {
    position: relative;
    text-decoration: none;
    color: var(--blue);
    font-size: 22px;
}

.topnav a::before {
    content: "";
    position: absolute;
    display: block;
    width: 100%;
    height: 4px;
    bottom: -5px;
    left: 0;
    background-color: var(--primary-color);
    transform: scaleX(0);
    transition: transform 0.2s ease;
}

.topnav a:hover::before {
    transform: scaleX(1);
}

#navlogo {
    width: 150px;
    height: 100px;
    background: url("../images/logo.png") no-repeat;
    background-size: 150px 42px;
    background-position: center;
    cursor: pointer;
    min-width: 150px;
    max-width: 150px;
    margin-left: 20px;
    margin-right: 20px;
    text-align: center;
}

#navlogo:hover {
    background: url("../images/logo_hover.png") no-repeat;
    background-size: 150px 42px;
    background-position: center;
}

#mobilelogo-area {
    display: none;
    background-color: var(--background-dark);
}

#mobilelogo {
    display: none;
}

.headline-container {
    padding-top: 40px;
    padding-bottom: 40px;
}

.headline-small {
    text-align: center;
    font-size: 40px;
}

.headline-big {
    text-align: center;
    font-size: 50px;
    font-weight: 200;
}

.block-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.block {
    max-width: 350px;
    border: 2px solid var(--block-color);
    border-radius: 25px;
    background-color: var(--block-color);
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 10px;
    padding-bottom: 10px;
    box-shadow: 0px 0px 30px 10px var(--block-shadow-color);
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.block-title {
    font-size: 28px;
    font-weight: 500;
    color: var(--text-color);
    text-align: center;
}

.block-title-text-separator {
    border: 1px solid var(--primary-color);
    border-radius: 10px;
}

.block-text {
    font-size: 18px;
    font-weight: 200;
    text-align: center;
}

@media screen and (max-width: 930px) {
    #mobilelogo-area {
        display: block;
        width: 100%;
        display: flex;
        justify-content: center;
    }
    #mobilelogo {
        display: block;
        width: 100px;
        height: 28px;
        background: url("../images/logo.png") no-repeat;
        background-size: 100px 28px;
        background-position: center;
        cursor: pointer;
        margin-top: 4px;
    }
    #mobilelogo:hover {
        background: url("../images/logo_hover.png") no-repeat;
        background-size: 100px 28px;
        background-position: center;
        margin-top: 4px;
    }
    .topnav {
        position: relative;
        display: block;
    }
    .topnav p {
        float: none;
        display: block;
        line-height: normal;
        min-width: inherit;
        max-width: inherit;
    }
    .topnav a {
        font-size: 16px;
    }
    #navlogo {
        display: none;
    }
    .content-body {
        margin-left: 1%;
        margin-right: 1%;
    }
    .headline-container {
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .headline-small {
        font-size: 20px;
    }
    .headline-big {
        font-size: 25px;
        line-height: 35px;
    }
    .block {
        width: 300px;
        padding-left: 10px;
        padding-right: 10px;
        padding-top: 5px;
        padding-bottom: 5px;
    }
    .block-title {
        font-size: 22px;
    }
    .block-text {
        font-size: 17px;
    }
}