<!DOCTYPE html>
<html lang="de">
  {% include head.html %}

  <body>
    {% include topnav.html %}

    <div class="root-background">
      <div class="centered-container">
        <div class="headline-container">
          <p class="headline-small">Neuigkeiten.</p>
        </div>
      </div>

      <div class="content-background-gradient">
        <div class="content-body-news">
          <hr class="invisible-hr" />
          <hr class="invisible-hr" />
          <hr class="invisible-hr" />

          <p class="news-title">{{ page.title }}</p>
          <hr class="block-title-text-separator" />
          <p class="news-metadata">
            <time datetime="{{ post.date }}" class="news-metadata"
              >{{ page.datestring }}</time
            >, {{ page.author }}
          </p>
          <hr class="invisible-hr" />
          <span class="block-text-left">{{ content }}</span>
          <hr class="invisible-hr" />
          <hr class="invisible-hr" />
          <hr class="invisible-hr" />
        </div>
      </div>
    </div>

    {% include footer.html %}
  </body>
</html>
