---
layout: default
---

<div class="content-background-solid">
  <div class="content-body">
    <div class="centered-container">
      <div>
        <h1 id="SchriftlichePruefung">{{ page.floating_headline }}</h1>
        <hr class="invisible-hr" />
        <p class="floating-text">{{ page.floating_text }}</p>
      </div>
    </div>
  </div>
</div>

<div class="content-background-gradient">
  <div class="content-body">
    <div class="block-container">
      <!-- prettier-ignore -->
      {% if page.whatsapp and page.whatsapp_button_text %}
      <div class="block">
        <div class="centered-container">
          <img src="{{ site.baseurl }}/assets/images/whatsapp.svg" alt="Whatsapp Icon" class="contact-icon contact-icon-whatsapp" />
          <p class="block-title">Whatsapp</p>
        </div>
        <hr class="block-title-text-separator" />
        <div class="centered-container">
          <div>
            <p class="block-text">
              <a href="tel:{{ page.whatsapp }}">{{ page.whatsapp }}</a>
            </p>
            <hr class="invisible-hr" />
            <div class="centered-container">
              <a href="https://wa.me/{{ page.whatsapp }}" class="button">{{ page.whatsapp_button_text }}</a>
            </div>
          </div>
        </div>
      </div>
      <!-- prettier-ignore -->
      {% endif %}

      <!-- prettier-ignore -->
      {% if page.email and page.email_button_text %}
      <div class="block">
        <div class="centered-container">
          <img src="{{ site.baseurl }}/assets/images/email.svg" alt="Email Icon" class="contact-icon contact-icon-email" />
          <p class="block-title">E-Mail</p>
        </div>
        <hr class="block-title-text-separator" />
        <div class="centered-container">
          <div>
            <p class="block-text">{{ page.email }}</p>
            <hr class="invisible-hr" />
            <div class="centered-container">
              <a href="mailto:{{ page.email }}" class="button">{{ page.email_button_text }}</a>
            </div>
          </div>
        </div>
      </div>
      <!-- prettier-ignore -->
      {% endif %}

      <!-- prettier-ignore -->
      {% if page.instagram %}
      <div class="block">
        <div class="centered-container">
          <img src="{{ site.baseurl }}/assets/images/instagram.svg" alt="Instagram Icon" class="contact-icon contact-icon-instagram" />
          <p class="block-title">Instagram</p>
        </div>
        <hr class="block-title-text-separator" />
        <div class="centered-container">
          <div>
            <p class="block-text">
              <a href="{{ page.instagram }}">Link</a>
            </p>
          </div>
        </div>
      </div>
      <!-- prettier-ignore -->
      {% endif %}
    </div>
  </div>

  <hr class="invisible-hr" />
  <hr class="invisible-hr" />
  <hr class="invisible-hr" />
</div>
