---
layout: default
---

<div class="content-background">
  <div class="content-body">
    <div class="centered-container">
      <img src="{{ site.baseurl }}/assets/images/team.jpg" alt="Bild des Teams" class="team-image" />
    </div>

    <!-- prettier-ignore -->
    {% if page.service_headline %}
    <p class="headline-big">{{ page.service_headline }}</p>
    <!-- prettier-ignore -->
    {% endif %}

    <div class="block-container">
      <div class="block-clickable" onclick="location.href='leistung.html#SchriftlichePruefung'">
        <p class="block-title">Schriftliche Steuerberaterprüfung</p>
        <hr class="block-title-text-separator" />
        <p class="block-text">Q & A - Einzelfragen in der Prüfungsvorbereitung</p>
      </div>
      <div class="block-clickable" onclick="location.href='leistung.html#MuendlichePruefung'">
        <p class="block-title">Mündliche Steuerberaterprüfung</p>
        <hr class="block-title-text-separator" />
        <p class="block-text">Einzelcoaching Kurzvortrag<br /><br />Prüfungssimulation ohne Kurzvortrag<br /><br />Prüfungssimulation mit Kurzvortrag</p>
      </div>
    </div>
  </div>

  <hr class="invisible-hr" />
  <hr class="invisible-hr" />
  <hr class="invisible-hr" />
</div>
