---
layout: default
---

<div class="content-background-gradient">
  <div class="content-body">
    <div class="block-container">
      <div class="person-block">
        <div class="centered-container">
          <img src="{{ site.baseurl }}/assets/images/jost.jpg" alt="Bild von Jost" class="person-image" />
        </div>
        <p><span class="primary-color">J</span>ost Oehrle</p>
        <p class="block-text">Dozent (HSF NRW)</p>
        <div class="centered-container">
          <p class="block-text">Steuerberaterexamen</p>
          <img src="{{ site.baseurl }}/assets/images/checkmark.svg" alt="Bild eines Hakens" class="team-checkmark" />
        </div>
        <p class="block-text">Diplom-Finanzwirt (FH)</p>
      </div>

      <div class="person-block">
        <div class="centered-container">
          <img src="{{ site.baseurl }}/assets/images/erwin.jpg" alt="Bild von Erwin" class="person-image" />
        </div>
        <p><span class="primary-color">E</span>rwin Janzen</p>
        <p class="block-text">Konzernprüfer</p>
        <div class="centered-container">
          <p class="block-text">Steuerberaterexamen</p>
          <img src="{{ site.baseurl }}/assets/images/checkmark.svg" alt="Bild eines Hakens" class="team-checkmark" />
        </div>
        <p class="block-text">Diplom-Finanzwirt (FH)</p>
      </div>

      <div class="person-block">
        <div class="centered-container">
          <img src="{{ site.baseurl }}/assets/images/sophie.jpg" alt="Bild von Sophie" class="person-image" />
        </div>
        <p><span class="primary-color">S</span>ophie Finke</p>
        <p class="block-text">Steuerberaterin</p>
        <div class="centered-container">
          <p class="block-text">Steuerberaterexamen</p>
          <img src="{{ site.baseurl }}/assets/images/checkmark.svg" alt="Bild eines Hakens" class="team-checkmark" />
        </div>
        <p class="block-text">Diplom-Finanzwirtin (FH)</p>
        <p class="block-text">LL.M. Unternehmensteuerrecht</p>
        <p class="block-text">
          Autorin
          <a href="https://www.efv-online.de/internationales-steuerrecht/praxisfaelle-band-12/praxisfaelle.html?bestnr=3126">Steuer-Seminar IntStR</a>
        </p>
      </div>

      <div class="big-block">
        <span class="block-text-left"
          >{{ content }}
          <hr class="invisible-hr" />
          <iframe
            style="border-radius: 12px"
            src="https://open.spotify.com/embed/episode/5Y2SHnPAVuWJtS9KXkeylQ?utm_source=generator&theme=0"
            width="100%"
            height="152"
            frameborder="0"
            allowfullscreen=""
            allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture"
            loading="lazy"
          ></iframe>
        </span>
      </div>
    </div>

    <hr class="invisible-hr" />
    <hr class="invisible-hr" />
    <hr class="invisible-hr" />
    <hr class="invisible-hr" />
  </div>
</div>
