---
layout: default
title: Team
headline_small: Das sind wir.
---

<div class="content-background-gradient">
  <div class="content-body">
    <div class="block-container">
      <div class="big-block">
        <div class="centered-container">
          <div class="person-container">
            <div class="person">
              <div class="centered-container">
                <img src="{{ site.baseurl }}/assets/images/jost.jpg" alt="Bild von Jost" class="person-image" />
              </div>
              <p><span class="primary-color">J</span>ost Oehrle</p>
              <div class="centered-container">
                <p class="block-text">Steuerberaterexamen</p>
                <img src="{{ site.baseurl }}/assets/images/checkmark.svg" alt="Bild eines Hakens" class="team-checkmark" />
              </div>
              <p class="block-text">Diplom-Finanzwirt (FH)</p>
            </div>
            <div class="person">
              <div class="centered-container">
                <img src="{{ site.baseurl }}/assets/images/erwin.jpg" alt="Bild von Erwin" class="person-image" />
              </div>
              <p><span class="primary-color">E</span>rwin Janzen</p>
              <div class="centered-container">
                <p class="block-text">Steuerberaterexamen</p>
                <img src="{{ site.baseurl }}/assets/images/checkmark.svg" alt="Bild eines Hakens" class="team-checkmark" />
              </div>
              <p class="block-text">Diplom-Finanzwirt (FH)</p>
            </div>
            <div class="person">
              <div class="centered-container">
                <img src="{{ site.baseurl }}/assets/images/sophie.jpg" alt="Bild von Sophie" class="person-image" />
              </div>
              <p><span class="primary-color">S</span>ophie Finke</p>
              <div class="centered-container">
                <p class="block-text">Steuerberaterexamen</p>
                <img src="{{ site.baseurl }}/assets/images/checkmark.svg" alt="Bild eines Hakens" class="team-checkmark" />
              </div>
              <p class="block-text">Diplom-Finanzwirtin (FH), LL.M.</p>
            </div>
          </div>
        </div>

        <hr class="block-title-text-separator" />

        <span class="block-text-left">{{ content }}</span>
      </div>
    </div>

    <hr class="invisible-hr" />
    <hr class="invisible-hr" />
    <hr class="invisible-hr" />
    <hr class="invisible-hr" />
  </div>
</div>
